/**
* CSS for DataRonin
*
* (c) Jack Peterson (jack@tinybike.net), 5/3/2013
*/

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #202223;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #707070;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

ul {
	list-style: none;
	line-height: 180%;
}

p {
	line-height: 180%;
}

a {
	color: #FEE722;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
}

#banner-wrapper
{
	overflow: hidden;
	height: 14em;
	background: url('images/img01.jpg') no-repeat top center;
	background-size: cover;
}

#header-wrapper
{
	background: #181818;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	height: 60px;
}

/** LOGO */

#logo {
	position: relative;
	float: left;
	width: 480px;
}

#logo img {
	padding-top: 6px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
}

#logo h1 a {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 60px;
	color: #fff;
}


/** MENU */

#menu a {
	display: block;
	line-height: 52px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

#menu{ float: right; display:block; padding:0; }
#menu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#menu > ul > li > a{ outline:none; display:block; position:relative; padding:22px 30px; font: 13px/100% "Open Sans", Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#menu > ul > li > a:after{ content:''; position:absolute; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#menu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#menu > ul > li.has-sub > a:before{ content:''; position:absolute; top:27px; right:6px; border:5px solid transparent; border-top:5px solid #fff; } 
#menu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:22px; padding-top:22px; top:0px; z-index:999; } 
#menu ul li.has-sub:hover > ul{margin-top: 19px;} 
#menu ul li.has-sub:hover > ul, #menu ul li.has-sub:hover > div{display:block; background: #3f3f3f;} 
#menu ul li > a:hover{background:#3f3f3f; border-color:#3f3f3f;} 
#menu ul li > ul, #menu ul li > div{ display:none; min-width: 150px; width:auto; position:absolute; top:38px; padding:0; background:#3f3f3f; z-index:999; } 
#menu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative; } 
#menu ul li > ul li a{ outline:none; display:block; position:relative; padding: 0 30px; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 
#menu ul li > ul li a:hover{ background-color: #777; }

/** PAGE */

#page {
	overflow: hidden;
	padding: 4em 0em 0em 0em;
}

/** CONTENT */

#content {
	float: left;
	width: 800px;
}

.post {
	overflow: hidden;
	padding: 25px 25px 15px 30px;
	margin-bottom: 25px;
	border: 1px solid #E7EBED;
	border-radius: 8px;
	background: #FFF;
}

.post a
{
	color: #262626;
}

.post .title {
	padding: 0;
	letter-spacing: -2px;
	border: none;
	font-size: 2.2em;
	text-decoration: none;
	font-weight: 600;
	color: #222222;
}

.post .entry {
	padding-bottom: 10px;
	text-align: justify;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 350px;
}

#sidebar ul {
	margin: 0;
	padding-bottom: 60px;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
	line-height: 40px;
	border-bottom: 1px solid #333;
	border-left: none;
}

#sidebar li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li a {
	color: #fff;
}

#sidebar h2 {
	height: 38px;
	padding-bottom: 10px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	font-weight: 600;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar img {
	width: 85%;
	border: 1px solid #fff;
	border-radius: 8px;
}

/* Footer */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
}
#footer {
    text-align: center;
	width: 100%;
    border-top: 1px solid #333;
	padding-top: 8px;
	color: #777;
}
#footer, .push {
	height: 20px;
	clear: both;
}
#footer a {
	color: #6B6B6B;
}

.announce {
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	margin: 0;
	padding: 0;
}

#data_dump {
	border: 1px solid #ccc;
	background: #F2FBEF;
	padding-left: 5px;
	padding-right: 5px;
}
#data_dump pre {
	color: #000;
	font-family: Consolas, Lucida Console, Courier new;
	font-size: 10pt;
	white-space: pre-wrap;
	height: 5pc;
	overflow-y: auto;
}

/* Plotter CSS */
#leftbar {
	float: right;
	width: 20%;
	min-width: 200px;
	color: #fff;
	margin-top: 0px;
}
#leftbar ul, #plotter ul {
	padding-left: 10px;
}

#fetch_data {
	border: 1px solid #777;
	width: 100%;
	padding-top: 10px;
}

#plotter {
	float: left;
	width: 77%;
	color: #fff;
}
#plotter_page {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 25px;
	margin: auto;
}

.flot-container {
	box-sizing: border-box;
	width: 100%;
	height: 450px;
	padding: 0px 15px 15px 15px;
	margin: 0px auto 30px auto;
	color: #fff;
	clear: left;
}

.flot-placeholder {
	float: left;
	width: 50%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

#time_series_placeholder, #histogram_placeholder {
	color: #ccc;
}

.legend table {
	border-spacing: 5px;
}

#choices {
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	border: 1px solid #777;
}

#choices li {
	list-style: none;
	padding-left: 10px;
	padding-bottom: 2px;
	color: #fff;
}

.boxheader {
	color: #fff;
	margin-bottom: 4px;
	padding-left: 12px;
	font-weight: bold;
}

#data_button {
	text-align: center;
	padding-top: 0;
	padding-bottom: 15px;
}

#bio_or_npp {
	padding-top: 5px;
}

#total_summary {
	width: 100%;
	/*padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;*/
}
#total_summary table {
	color: #fff;
	margin-top: 0;
}
#table-1 {
	float: left;
}
#table-2 {
	float: right;
}
#table-3 {
	margin: auto;
}
.statistic {
	font-weight: bold;
}
#total_summary td {
	width: 150px;
}
#total_summary th {
	/*width: 350px;*/
	text-align: left;
	padding-top: 0;
}
.statistic_header {
	font-size: 120%;
}

/**
* Button CSS
*/

.button, .small_button, .medium_button {
    padding: 7px 12px 7px 12px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #5e5e5e;
    border: 1px solid #c3c3c3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: url("https://d3l0iz7q6gnphu.cloudfront.net/assets/buttons/buttons-0ce2d40b1facf6b1a69d16b1a4dd8d7a.png") repeat-x top left;
}
input.button, input.button:active, input.button:disabled {
    padding: 6px 12px 6px 12px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.button:hover, .small_button:hover {
    border-color: #9e9e9e;
    text-decoration: none;
}
.button.grey {
    background-position: 0px 0px
}
.button.orange {
    background-position: 0px -29px
}
.button.red {
    background-position: 0px -58px;
    color: #fff;
}
.button.yellow {
    background-position: 0px -145px
}
.button.green {
    color: #fff;
    background-position: 0px -87px;
    text-shadow: 0px 0px 1px #777;
}
.button.blue {
    background-position: 0px -116px;
    color: #fff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: 0px 0px 1px #333;
    border-color: #4891dc;
}
.button.blue:hover, .medium_button.blue:hover {
    -webkit-box-shadow: 0px 0px 3px #999;
    -moz-box-shadow: 0px 0px 3px #999;
    box-shadow: 0px 0px 3px #999;
}
.button span {
    background: url("images/button_icons-d4cd410000ba2f698a55dfe8bc63ed16.png") no-repeat top left;
    display: block;
    width: 13px;
    height: 12px;
    float: left;
    margin: 2px 5px 0px 0px;
}
.button.plus span {
    background-position: 0px 0px
}
.button.checked span {
    background-position: 0px -12px
}
.button.remove span {
    background-position: 0px -24px
}
.medium_button {
    font-size: 10px;
    padding: 6px 10px 6px 10px;
    color: #666;
    position: relative;
    background: url("https://d3l0iz7q6gnphu.cloudfront.net/assets/buttons/buttons-medium-77d5bb5fc5a7dc73870efaa49f9ed124.png") repeat-x top left;
}
input.medium_button {
    padding: 5px 10px 5px 10px
}
.medium_button.blue {
    color: #fff;
    border: 1px solid #4891dc;
    box-shadow: inset 0px 0px 2px #49c6f5;
    -webkit-box-shadow: 0px 0px 1px #49c6f5;
    -moz-box-shadow: 0px 0px 1px #49c6f5;
    text-shadow: 0px 0px 1px #333;
}
.medium_button.blue:hover {
    text-decoration: none
}
.medium_button.green {
    color: #fff;
    border: 1px solid #5ea831;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: 0px 0px 1px #333;
    background-position: 0px -25px;
}
.medium_button.red {
    color: #fff;
    text-shadow: 0px 0px 1px #333;
    background-position: 0px -50px;
}
.medium_button.gray {
    background-position: 0px -75px
}
.small_button {
    height: 21px;
    background: url("https://d3l0iz7q6gnphu.cloudfront.net/assets/buttons/buttons-small-2849330262baaa38eaaecf2bc7d8146b.png") repeat-x top left;
    font-size: 10px;
    padding: 3px 10px 3px 10px;
    color: #666;
    position: relative;
}
.small_button.blue {
    background-position: 0px -21px;
    color: #fff;
    text-shadow: 0px 0px 1px #333;
    border-color: #4891dc;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.small_button.blue:hover {
    border-color: #254c74
}
.small_button.red {
    background-position: 0px -41px;
    color: #fff;
    border-color: #aaa;
}
.small_button.left_half {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.small_button.right_half {
    border-left: none;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -4px;
} 
