{% extends "base.html" %}

{% block title %}dataRonin: FoxPlot{% endblock %}

{% block content %}
<div id="plotter_page" class="container">
	{% block fetchplot %}{% endblock %}
	{% block showplot %}{% endblock %}
</div>
{% endblock %}
{% block footer %}
<p>Copyright &copy; 2013 <a href="mailto:fox.peterson@oregonstate.edu">Fox Peterson</a>.  All rights reserved.<br />Designed &amp; developed by <a href="http://www.tinybike.com">Tinybike Interactive</a>.  Plots created with <a href="http://www.flotcharts.org/">Flot</a>.</p>
{% endblock %}