{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}dataRonin{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Archivo+Narrow:400,700" />
<link rel="stylesheet" type="text/css" href="{% static 'visual/style.css' %}" />
{% block headers %}{% endblock %}
</head>
<body>
<div class="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="index.html"><img src="{% static 'visual/images/dataronin_new.png' %}" alt="dataRonin" /></a></h1>
			</div>	
			<div id="menu">
				{% block menu %}
				<ul>
					<li class="has-sub"><a href="#"><span>Vitae</span></a>
						<ul>
							<li><a href="cv.html"><span>CV</span></a></li>
							<li><a href="publications.html"><span>Publications</span></a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="#"><span>Research</span></a>
						<ul>
							<li><a href="topics.html"><span>Topics</span></a></li>
							<li><a href="instrumentation.html"><span>Instrumentation</span></a></li>
							<li><a href="data.html"><span>Data Analysis</span></a></li>
							<li><a href="field.html"><span>Field Experiences</span></a></li>
							<li><a href="soil.html"><span>Soil Laboratory</span></a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="#">Images</a>
						<ul>
							<li><a href="instruments.html">Instruments</a></li>
							<li><a href="fieldsites.html">Field sites</a></li>
							<li><a href="other.html">Other</a></li>
							<li><a href="video.html">Video</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="#">Links</a>
						<ul>
							<li><a href="http://andrewsforest.oregonstate.edu">H.J. Andrews</a></li>
							<li><a href="http://www.tinybike.com">Tinybike</a></li>
							<li><a href="http://www.science.oregonstate.edu/~lajthak/">Kate Lajtha</a></li>
						</ul>
					</li>
					<li><a href="about.html">About Fox</a></li>					
				</ul>
				{% endblock %}
			</div>
		</div>
	</div>
	<div id="banner-wrapper">
	{% block banner %}{% endblock %}
	</div>

	{% block content %}
	<div id="plotter_page" class="container">
		<div id="leftbar">
			<div id="fetch_data">
				<form action="/visual/results/" method="post">
				{% csrf_token %}
				<div id="bio_or_npp">
					<ul>
						<li>
						<input type="radio" name="bio_or_npp" value="biomass" {% if bio_or_npp == 'biomass' %}checked="checked"{% endif %} /> Biomass
						<input type="radio" name="bio_or_npp" value="npp" {% if bio_or_npp == 'npp' %}checked="checked"{% endif %} /> NPP
						</li>
					</ul>
				</div>
				<p class="boxheader">Time series</p>
				<ul>
					<li>
					Statistic:&nbsp;&nbsp;
					<select name="select_stat" id="select_stat">
						<option value="mean" {% if select_stat == 'mean' %}selected="selected"{% endif %}>mean</option>
						<option value="median" {% if select_stat == 'median' %}selected="selected"{% endif %}>median</option>
						<option value="quartile_1" {% if select_stat == 'quartile_1' %}selected="selected"{% endif %}>1st quartile</option>
						<option value="quartile_3" {% if select_stat == 'quartile_3' %}selected="selected"{% endif %}>3rd quartile</option>
						<option value="max" {% if select_stat == 'max' %}selected="selected"{% endif %}>maximum</option>
						<option value="min" {% if select_stat == 'min' %}selected="selected"{% endif %}>minimum</option>
					</select>
					</li>
					<li>
					Period:&nbsp;&nbsp;
					<select name="select_span" id="select_span">
						<option value="year" {% if select_span == 'year' %}selected="selected"{% endif %}>year</option>
						<option value="month" {% if select_span == 'month' %}selected="selected"{% endif %}>month/season</option>
					</select>
					</li>
					<li><input type="checkbox" value="Yes" name="show_errors" id="show_errors" {% if show_errors %}checked="checked"{% endif %} /> Error bars</li>
					<li><input type="checkbox" value="Yes" name="log_y" id="log_y" {% if log_y %}checked="checked"{% endif %}/> Log-transform</li>
					<li><input type="checkbox" value="Yes" name="align_start" id="align_start" {% if align_start %}checked="checked"{% endif %}/> Align start times</li>
				</ul>
				<p class="boxheader">Histogram</p>
				<ul>
				<li>Number of bins:&nbsp;&nbsp;<input type="text" size="1" value="25" name="num_bins" id="num_bins" /></li>
				<li><input type="checkbox" value="Yes" name="hist_show_errors" id="hist_show_errors" {% if hist_show_errors %}checked="checked"{% endif %}/> Error bars</li>
				<li><input type="checkbox" value="Yes" name="hist_log_x" id="hist_log_x" {% if hist_log_x %}checked="checked"{% endif %}/> Log-transform x-axis</li>
				<li><input type="checkbox" value="Yes" name="hist_log_y" id="hist_log_y" {% if hist_log_y %}checked="checked"{% endif %}/> Log-transform y-axis</li>
				</ul>
				<div id="data_button">
					<input class="small_button" type="submit" value="Get data" />
				</div>
				</form>
			</div>
		</div>
		<div id="plotter">
		</div>
	{% endblock %}
	</div>
	<div class="push"></div>
</div>
<div id="footer">
	{% block footer %}
	<p>Copyright &copy; 2013 <a href="mailto:fox.peterson@oregonstate.edu">Fox Peterson</a>.  All rights reserved.<br />Design by <a href="http://www.tinybike.com">Tinybike Interactive</a>.</p>
	{% endblock %}
</div>
</body>
</html>